{{#if selected.userPrivacy.No}}
<div class="status warn">
	<h2>Protect yourself online</h2>

	<p>Learn about <a href="#">safe web use habits</a></p>

	<p>Leave this web page and <a href="#">clear your web history</a>.</p>
</div>
{{else if selected.userPrivacy.Notsure}}
<div class="status info">
	<h2>Different ways to apply for protection</h2>
	<ul>
		<li>contact Queensland Police</li>
		<li>contact DVConnect</li>
		<li>from a computer at a public library</li>
		<li>from a computer or tablet at a someone else’s place</li>
		<li>in person, at a Queensland Magistrates Court</li>
		<li>from a safe smartphone (e.g. <a href="http://wesnet.org.au/home2/projects/telstra-safe-connections-project/">Safe Connections</a></li>
	</ul>

	<h3>Continue applying</h3>
	<ul>
		<li>switch to a <a href="#">private web session</a></li>
		<li>clear your web history</li>
		<li>use the <em>Quick Exit</em> button on the side of the screen if you need to quickly exit this site.</li>
	</ul>
</div>
{{/if}}