<div class="status info">
	<h2>What conditions are on a protection order?</h2>
	<p>All protection orders have two compulsory conditions which say that:</p>
	<ol>
		<li>The respondent must be of good behaviour towards the aggrieved and not commit domestic violence</li>
		<li>The respondent must be of good behaviour towards any named person and not commit associated domestic violence against the named person.</li>
	</ol>
	<p>You can ask the court to include in extra conditions.</p>
</div>


<form class="form" name="formConditions">
	<ol class="questions">
		<li class="section">
			<fieldset>
				<legend>
					<span class="h3">Protecting {{aggrievedYour}} family and friends</span>
				</legend>
				<ol class="questions">
					<li>
						<fieldset>
							<legend>
								<span class="label">{{DoesTheAggrieved}} have children who need protection from {{respondentName}}?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-protect-children"
									       id="interview-protect-children-false"
									       ng-model="interview.conditions.nameChildren"
									       ng-value="false">
									<label for="interview-protect-children-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-protect-children"
									       id="interview-protect-children-true"
									       ng-model="interview.conditions.nameChildren"
									       ng-value="true">
									<label for="interview-protect-children-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.nameChildren">
						<div class="status info">
							<h2>You must provide clear reasons why {{theChildren}} should be named on the order</h2>
							<p>A child may be included on an order if the court is satisfied that naming the child on the order is necessary or desirable to protect the child from associated domestic violence, or being exposed to domestic violence committed by the respondent. Associated domestic violence is where domestic violence is committed against a child, relative or associate of an aggrieved.</p>
						</div>
						<label for="interview-children-grounds">
							<span class="label">Please provide details about of specific incidents where {{respondentName}} has committed domestic violence towards a child or exposed a child to domestic violence</span>
							<small class="hint">Include date or approximate dates</small>
						</label>
						<textarea id="interview-children-grounds" ng-model="interview.grounds.children" cols="30" rows="7" spellcheck="true"></textarea>
					</li>

					<li>
						<fieldset>
							<legend>
								<span class="label">Has {{respondentName}} behaved in a way that is abusive, threatening or unwelcome towards people {{aggrievedYouKnow}}?</span>
								<small class="hint">Includes {{theAggrieveds}} family, relatives, friends, coworkers or other people {{aggrievedYouKnow}}.
								They are known as {{theAggrieveds}} <dfn>associates</dfn>.</small>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-associates-suffered"
									       id="interview-associates-suffered-false"
									       ng-model="interview.conditions.respondent.abusedAssociates"
									       ng-value="false">
									<label for="interview-associates-suffered-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-associates-suffered"
									       id="interview-associates-suffered-true"
									       ng-model="interview.conditions.respondent.abusedAssociates"
									       ng-value="true">
									<label for="interview-associates-suffered-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-if="! interview.applicantIsAggrieved &amp;&amp; interview.conditions.respondent.abusedAssociates === false">
						<fieldset>
							<legend>
								<span class="label">Has {{respondentName}} behaved in way that is abusive, threating or unwelcome towards you?</span>
								<small class="hint">You are also an associate of {{aggrievedName}}.</small>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-applicant-suffered"
									       id="interview-applicant-suffered-false"
									       ng-model="interview.conditions.respondent.abusedApplicant"
									       ng-value="false">
									<label for="interview-applicant-suffered-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-applicant-suffered"
									       id="interview-applicant-suffered-true"
									       ng-model="interview.conditions.respondent.abusedApplicant"
									       ng-value="true">
									<label for="interview-applicant-suffered-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.respondent.abusedAssociates || interview.conditions.respondent.abusedApplicant">
						<fieldset>
							<legend>
								<span class="label">Do they need protection from {{respondentName}}?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-protect-associates"
									       id="interview-protect-associates-false"
									       ng-model="interview.conditions.nameAssociates"
									       ng-value="false">
									<label for="interview-protect-associates-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-protect-associates"
									       id="interview-protect-associates-true"
									       ng-model="interview.conditions.nameAssociates"
									       ng-value="true">
									<label for="interview-protect-associates-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="(interview.conditions.respondent.abusedAssociates || interview.conditions.respondent.abusedApplicant) &amp;&amp; interview.conditions.nameAssociates">
						<div class="status info">
							<h2>You must explain why the {{theAssociatesNeed}} to be named on the order</h2>
							<p>You need to provide clear reasons why it is necessary or desirable to protect {{aggrievedYour}} relative or associate from associated domestic violence.</p>
						</div>
						<label for="interview-associates-grounds">
							<span class="label">Please provide details of specific incidents where {{respondentName}} has committed associated domestic violence or exposed the relative or associate to domestic violence</span>
							<small class="hint">Include date or approximate dates</small>
						</label>
						<textarea id="interview-associates-grounds" ng-model="interview.grounds.associates" cols="30" rows="7" spellcheck="true"></textarea>
					</li>
				</ol>
			</fieldset>
		</li>


		<li class="section">
			<fieldset>
				<legend>
					<span class="h3">Ouster Order</span>
					<small class="hint">The court must consider whether to make an order that {{respondentName}} must leave a named house or dwelling (this is also known as an <dfn>ouster order</dfn>). The court must take {{aggrievedYour}} wishes into account.</small>
				</legend>
				<ol class="questions">
					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to leave the premises?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-ousters"
									       id="interview-conditions-ousters-false"
									       ng-model="interview.conditions.ouster.requested"
									       ng-value="false">
									<label for="interview-conditions-ousters-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-ousters"
									       id="interview-conditions-ousters-true"
									       ng-model="interview.conditions.ouster.requested"
									       ng-value="true">
									<label for="interview-conditions-ousters-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.ouster.requested">
						<label for="interview-conditions-ouster-grounds">
							<span class="label">Address</span>
						</label>
						<textarea id="interview-conditions-ouster-address" ng-model="interview.conditions.ouster.address" rows="3" cols="30" autocomplete="street-address" spellcheck="true"></textarea>
					</li>
					<li ng-show="interview.conditions.ouster.requested">
						<label for="interview-conditions-ouster-grounds">
							<span class="label">Please explain to the court the reasons why {{respondentName}} must leave</span>
						</label>
						<textarea id="interview-conditions-ouster-grounds" ng-model="interview.conditions.ouster.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>
				</ol>
			</fieldset>
		</li>


		<li class="section">
			<fieldset>
				<legend>
					<span class="h3">Prohibit {{respondentName}} from approaching {{aggrievedYou}}</span>
					<small class="hint">And places {{aggrievedYou}} {{aggrievedYouPlurals 'live, work or visit' 'lives, works or often visits'}}.</small>
				</legend>
				<ol class="questions">
					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to stay away from {{aggrievedYou}}?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-distance-aggrieved"
									       id="interview-conditions-distance-aggrieved-false"
									       ng-model="interview.conditions.distance.aggrieved.requested"
									       ng-value="false">
									<label for="interview-conditions-distance-aggrieved-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-distance-aggrieved"
									       id="interview-conditions-distance-aggrieved-true"
									       ng-model="interview.conditions.distance.aggrieved.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-aggrieved-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.distance.aggrieved.requested">
						<label for="interview-conditions-distance-aggrieved-grounds">
							<span class="label">Please explain to the court the reasons why {{respondentName}} must stay away from {{aggrievedYou}}</span>
						</label>
						<textarea id="interview-conditions-distance-aggrieved-grounds" ng-model="interview.conditions.distance.aggrieved.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>

					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to stay away from places {{aggrievedYou}} {{aggrievedYouPlurals 'live, work or visit' 'lives, works or often visits'}}?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-distance-aggrieved-places"
									       id="interview-conditions-distance-aggrieved-places-false"
									       ng-model="interview.conditions.distance.aggrieved.places.requested"
									       ng-value="false">
									<label for="interview-conditions-distance-aggrieved-places-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-distance-aggrieved-places"
									       id="interview-conditions-distance-aggrieved-places-true"
									       ng-model="interview.conditions.distance.aggrieved.places.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-aggrieved-places-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.distance.aggrieved.places.requested">
						<fieldset>
							<legend>
								<span class="label">Prohibit {{respondentName}} from approaching:</span>
							</legend>
							<ul class="choices">
								<li>
									<input type="checkbox"
									       name="interview-conditions-distance-aggrieved-home"
									       id="interview-conditions-distance-aggrieved-home"
									       ng-model="interview.conditions.distance.aggrieved.home.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-aggrieved-home">{{aggrievedYour}} home</label>
								</li>
								<li>
									<input type="checkbox"
									       name="interview-conditions-distance-aggrieved-work"
									       id="interview-conditions-distance-aggrieved-work-true"
									       ng-model="interview.conditions.distance.aggrieved.work.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-aggrieved-work-true">{{aggrievedYour}} workplace</label>
								</li>
								<li>
									<input type="checkbox"
									       name="interview-conditions-distance-aggrieved-staying"
									       id="interview-conditions-distance-aggrieved-staying-true"
									       ng-model="interview.conditions.distance.aggrieved.staying.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-aggrieved-staying-true">where {{aggrievedYouAre}} currently staying</label>
								</li>
								<li>
									<input type="checkbox"
									       name="interview-conditions-distance-aggrieved-other"
									       id="interview-conditions-distance-aggrieved-other-true"
									       ng-model="interview.conditions.distance.aggrieved.other.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-aggrieved-other-true">places {{aggrievedYouPlurals 'visit' 'visits'}} often</label>
								</li>
							</ul>
						</fieldset>
					</li>

					<li ng-show="interview.conditions.distance.aggrieved.places &amp;&amp; interview.conditions.distance.aggrieved.other.requested">
						<label for="interview-conditions-distance-aggrieved-other-title">
							<span class="label">Name the places {{aggrievedYouPlurals 'visit' 'visits'}} often</span>
						</label>
						<input type="text" id="interview-conditions-distance-aggrieved-other-title" ng-model="interview.conditions.distance.aggrieved.other.title" size="30" spellcheck="true">
					</li>
					<li ng-show="interview.conditions.distance.aggrieved.places &amp;&amp; ( interview.conditions.distance.aggrieved.home.requested || interview.conditions.distance.aggrieved.work.requested || interview.conditions.distance.aggrieved.staying.requested || interview.conditions.distance.aggrieved.other.requested )">
						<label for="interview-conditions-distance-aggrieved-home-grounds">
							<span class="label">Please explain to the court the reasons why {{respondentName}} must stay away from these places</span>
						</label>
						<textarea id="interview-conditions-distance-aggrieved-home-grounds" ng-model="interview.conditions.distance.aggrieved.home.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>
				</ol>
			</fieldset>
		</li>

		<li ng-show="interview.conditions.nameChildren" class="section">
			<fieldset>
				<legend>
					<span class="h3">Prohibit {{respondentName}} from approaching {{aggrievedYour}} kids</span>
				</legend>
				<ol class="questions">
					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to to stay away from {{theAggrievedsKids}} schools, day care, etc.?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-distance-children"
									       id="interview-conditions-distance-children-false"
									       ng-model="interview.conditions.distance.children.requested"
									       ng-value="false">
									<label for="interview-conditions-distance-children-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-distance-children"
									       id="interview-conditions-distance-children-true"
									       ng-model="interview.conditions.distance.children.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-children-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.distance.children.requested">
						<label for="interview-conditions-distance-children-grounds">
							<span class="label">Please explain to the court the reasons why {{respondentName}} must stay away from {{theAggrieveds}} kids</span>
						</label>
						<textarea id="interview-conditions-distance-children-grounds" ng-model="interview.conditions.distance.children.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>
				</ol>
			</fieldset>
		</li>


		<li ng-show="(interview.conditions.respondent.abusedAssociates || interview.conditions.respondent.abusedApplicant) &amp;&amp; interview.conditions.nameAssociates" class="section">
			<fieldset>
				<legend>
					<span class="h3">Prohibit {{respondentName}} from approaching {{aggrievedYour}} associates</span>
				</legend>
				<ol class="questions">
					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to to stay away from {{theAggrieveds}} associates?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-distance-associates"
									       id="interview-conditions-distance-associates-false"
									       ng-model="interview.conditions.distance.associates.requested"
									       ng-value="false">
									<label for="interview-conditions-distance-associates-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-distance-associates"
									       id="interview-conditions-distance-associates-true"
									       ng-model="interview.conditions.distance.associates.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-associates-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.distance.associates.requested">
						<label for="interview-conditions-distance-associates-grounds">
							<span class="label">Please explain to the court the reasons why {{respondentName}} must stay away from {{theAggrieveds}} associates</span>
						</label>
						<textarea id="interview-conditions-distance-associates-grounds" ng-model="interview.conditions.distance.associates.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>

					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to stay away from {{theAggrieveds}} associates’ homes?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-distance-associate-home"
									       id="interview-conditions-distance-associate-home-false"
									       ng-model="interview.conditions.distance.associate.home.requested"
									       ng-value="false">
									<label for="interview-conditions-distance-associate-home-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-distance-associate-home"
									       id="interview-conditions-distance-associate-home-true"
									       ng-model="interview.conditions.distance.associate.home.requested"
									       ng-value="true">
									<label for="interview-conditions-distance-associate-home-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.distance.associate.home.requested">
						<label for="interview-conditions-distance-associate-home-grounds">
							<span class="label">Please explain why you want {{respondentName}} to stay away from {{theAggrieveds}} associates’ homes</span>
						</label>
						<textarea id="interview-conditions-distance-associate-home-grounds" ng-model="interview.conditions.distance.associate.home.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>
				</ol>
			</fieldset>
		</li>


		<li class="section">
			<fieldset>
				<legend>
					<span class="h3">Prohibit {{respondentName}} from contacting and/or stalking {{aggrievedYou}}</span>
				</legend>
				<ol class="questions">
					<li>
						<fieldset>
							<legend>
								<span class="label">Has {{respondentName}} been contacting {{aggrievedYou}} in a way that is threatening, abusive or unwelcome?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-respondent-contact-aggrieved"
									       id="interview-conditions-respondent-contact-aggrieved-false"
									       ng-model="interview.conditions.respondent.hasContactedAggrieved"
									       ng-value="false">
									<label for="interview-conditions-respondent-contact-aggrieved-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-respondent-contact-aggrieved"
									       id="interview-conditions-respondent-contact-aggrieved-true"
									       ng-model="interview.conditions.respondent.hasContactedAggrieved"
									       ng-value="true">
									<label for="interview-conditions-respondent-contact-aggrieved-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-if="interview.conditions.respondent.hasContactedAggrieved">
						<fieldset>
							<legend>
								<span class="label" ng-if="interview.applicantIsAggrieved">I want {{respondentName}} to stop contacting me</span>
								<span class="label" ng-if="! interview.applicantIsAggrieved">{{respondentName}} should be prohibited from contacting {{aggrievedYou}}</span>
								<small class="hint">{{RespondentThey}} won't be allowed to ask anyone else to contact {{aggrievedYou}} either.</small>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-aggrieved-stop-contact"
									       id="interview-conditions-aggrieved-stop-contact-false"
									       ng-model="interview.conditions.aggrieved.noContact.requested"
									       ng-value="false">
									<label for="interview-conditions-aggrieved-stop-contact-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-aggrieved-stop-contact"
									       id="interview-conditions-aggrieved-stop-contact-true"
									       ng-model="interview.conditions.aggrieved.noContact.requested"
									       ng-value="true">
									<label for="interview-conditions-aggrieved-stop-contact-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.aggrieved.noContact.requested">
						<fieldset>
							<legend>
								<span class="label">Has {{respondentName}} been contacting {{aggrievedYour}} friends or family in way that is threatening or abusive?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-respondent-contact-associates"
									       id="interview-conditions-respondent-contact-associates-false"
									       ng-model="interview.respondent.hasContactedAssociates"
									       ng-value="false">
									<label for="interview-conditions-respondent-contact-associates-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-respondent-contact-associates"
									       id="interview-conditions-respondent-contact-associates-true"
									       ng-model="interview.respondent.hasContactedAssociates"
									       ng-value="true">
									<label for="interview-conditions-respondent-contact-associates-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.aggrieved.noContact.requested &amp;&amp; interview.respondent.hasContactedAssociates">
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentThem}} to stop that contact?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-associates-stop-contact"
									       id="interview-conditions-associates-stop-contact-false"
									       ng-model="interview.conditions.associates.noContact.requested"
									       ng-value="false">
									<label for="interview-conditions-associates-stop-contact-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-associates-stop-contact"
									       id="interview-conditions-associates-stop-contact-true"
									       ng-model="interview.conditions.associates.noContact.requested"
									       ng-value="true">
									<label for="interview-conditions-associates-stop-contact-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.aggrieved.noContact.requested">
						<label for="interview-conditions-aggrieved-stop-contact-grounds">
							<span class="label">
								Please explain why you want {{respondentName}} to stop contacting
								{{aggrievedYou}}<span ng-if="interview.respondent.hasContactedAssociates &amp;&amp; interview.conditions.associates.noContact.requested">, {{aggrievedYour}} friends and family</span>
							</span>
							<small class="hint" ng-if="interview.respondent.hasContactedAssociates &amp;&amp; interview.conditions.associates.noContact.requested">You need to include the names of family and friends later in this application.</small>
						</label>
						<textarea id="interview-conditions-aggrieved-stop-contact-grounds" ng-model="interview.conditions.aggrieved.noContact.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>

					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to stop publishing anything online that mentions {{aggrievedYou}}?</span>
								<small class="hint">Includes posts in any social media platforms (e.g. Facebook, YouTube, Twitter)</small>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-social-media"
									       id="interview-conditions-social-media-false"
									       ng-model="interview.conditions.socialMedia.requested"
									       ng-value="false">
									<label for="interview-conditions-social-media-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-social-media"
									       id="interview-conditions-social-media-true"
									       ng-model="interview.conditions.socialMedia.requested"
									       ng-value="true">
									<label for="interview-conditions-social-media-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.socialMedia.requested">
						<label for="interview-conditions-social-media-grounds">
							<span class="label">Please explain why you want {{respondentName}} to stop publishing anything online that mentions {{aggrievedYou}}</span>
						</label>
						<textarea id="interview-conditions-social-media-grounds" ng-model="interview.conditions.socialMedia.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>
					<li>
						<fieldset>
							<legend>
								<span class="label">Do you want {{respondentName}} to stop trying to find {{aggrievedYou}}?</span>
							</legend>
							<ul class="choices compact">
								<li>
									<input type="radio"
									       name="interview-conditions-aggrieved-locate"
									       id="interview-conditions-aggrieved-locate-false"
									       ng-model="interview.conditions.aggrieved.locate.requested"
									       ng-value="false">
									<label for="interview-conditions-aggrieved-locate-false">No</label>
								</li>
								<li>
									<input type="radio"
									       name="interview-conditions-aggrieved-locate"
									       id="interview-conditions-aggrieved-locate-true"
									       ng-model="interview.conditions.aggrieved.locate.requested"
									       ng-value="true">
									<label for="interview-conditions-aggrieved-locate-true">Yes</label>
								</li>
							</ul>
						</fieldset>
					</li>
					<li ng-show="interview.conditions.aggrieved.locate.requested">
						<label for="interview-conditions-aggrieved-locate-grounds">
							<span class="label">Please explain why you want {{respondentName}} to stop trying to find {{aggrievedYou}}</span>
						</label>
						<textarea id="interview-conditions-aggrieved-locate-grounds" ng-model="interview.conditions.aggrieved.locate.grounds" rows="7" cols="30" spellcheck="true"></textarea>
					</li>
				</ol>
			</fieldset>
		</li>


		<li>
			<fieldset>
				<legend>
					<span class="label">Do you want {{respondentName}} to return {{theAggrieveds}} property?</span>
				</legend>
				<ul class="choices compact">
					<li>
						<input type="radio"
						       name="interview-conditions-property"
						       id="interview-conditions-property-false"
						       ng-model="interview.conditions.property.requested"
						       ng-value="false">
						<label for="interview-conditions-property-false">No</label>
					</li>
					<li>
						<input type="radio"
						       name="interview-conditions-property"
						       id="interview-conditions-property-true"
						       ng-model="interview.conditions.property.requested"
						       ng-value="true">
						<label for="interview-conditions-property-true">Yes</label>
					</li>
				</ul>
			</fieldset>
		</li>
		<li ng-show="interview.conditions.property.requested">
			<label for="interview-conditions-property-grounds">
				<span class="label">Please list the property you want returned</span>
			</label>
			<textarea id="interview-conditions-property-grounds" ng-model="interview.conditions.property.grounds" rows="7" cols="30" spellcheck="true"></textarea>
		</li>

		<li>
			<fieldset>
				<legend>
					<span class="label">Do you want the court to make any other conditions on the order?</span>
					<small class="hint">You do not need to include anything covered by the conditions you have already selected above.</small>
				</legend>
				<ul class="choices compact">
					<li>
						<input type="radio"
						       name="interview-conditions-behaviour"
						       id="interview-conditions-behaviour-false"
						       ng-model="interview.conditions.behaviour.requested"
						       ng-value="false">
						<label for="interview-conditions-behaviour-false">No</label>
					</li>
					<li>
						<input type="radio"
						       name="interview-conditions-behaviour"
						       id="interview-conditions-behaviour-true"
						       ng-model="interview.conditions.behaviour.requested"
						       ng-value="true">
						<label for="interview-conditions-behaviour-true">Yes</label>
					</li>
				</ul>
			</fieldset>
		</li>
		<li ng-show="interview.conditions.behaviour.requested">
			<label for="interview-conditions-behaviour-grounds">
				<span class="label">Please explain how you want {{respondentName}} to behave differently</span>
			</label>
			<textarea id="interview-conditions-behaviour-grounds" ng-model="interview.conditions.behaviour.grounds" rows="7" cols="30" spellcheck="true"></textarea>
		</li>
		<li>
			<ul class="actions">
				<li><strong><button>Continue</button></strong></li>
			</ul>
		</li>
	</ol>
</form>
