<h2>Respondent’s details (person the aggrieved is seeking protection from)</h2>

<form class="form" name="formRespondentBasic">
	<ol class="questions">
		<li class="group atomic">
			<fieldset>
				<legend>
					<span class="label">Who {{doesTheAggrieved}} need protection from?</span>
				</legend>
				<ol class="questions compact">
					<li>
						<label for="respondent-name-given">
							<span class="label">Given name</span>
						</label>
						<input type="text" size="15" id="respondent-name-given" name="respondentNameGiven">
					</li>
					<li>
						<label for="respondent-name-family">
							<span class="label">Family name</span>
						</label>
						<input type="text" size="15" id="respondent-name-family" name="respondentNameFamily">
					</li>
				</ol>
			</fieldset>
		</li>

		<li>
			<label for="respondent-date-birth">
				<span class="label">Date of birth</span>
			</label>
			<input type="text" id="respondent-date-birth" name="respondentDateBirth">
		</li>

		<li>
			<label for="respondent-gender">
				<span class="label">Gender</span>
			</label>
			<input type="text" id="respondent-gender" name="respondentGenderIdentity" list="datalist-gender">
		</li>

		<li>
			<ul class="actions">
				<li><strong><button>Continue</button></strong></li>
			</ul>
		</li>
	</ol>
</form>
