<h2>Your situation</h2>

<form class="form" name="formStory">
	<ol class="questions">
		<li>
			<fieldset>
				<legend>
					<span class="label">Do you need protection?</span>
				</legend>
				<ul class="choices">
					<li>
						<input type="radio"
						       name="userIsAggrieved"
						       value="true"
						       id="user-is-aggrieved-true">
						<label for="user-is-aggrieved-true">Yes</label>
					</li>
					<li>
						<input type="radio"
						       name="userIsAggrieved"
						       value="false"
						       id="user-is-aggrieved-false">
						<label for="user-is-aggrieved-false">No, I am applying for
							<span id="dvaf1-user-relationship-placeholder">someone else</span>
						</label>
						<label class="sr-only visuallyhidden" for="dvaf1-user-relationship">Who needs protection?</label>
						<select id="dvaf1-user-relationship" name="userRelationship">
							<option value="" class="placeholder">please select…</option>
							<option value="girlfriend">my girlfriend</option>
							<option value="boyfriend">my boyfriend</option>
							<option value="daughter">my daughter</option>
							<option value="son">my son</option>
							<option value="mother">my mother</option>
							<option value="father">my father</option>
							<option value="sister">my sister</option>
							<option value="brother">my brother</option>
							<option value="friend">my friend</option>
							<option value="neighbour">my neighbour</option>
							<option value="client">my client</option>
							<option value="coworker">my coworker</option>
							<option value="someone">someone I know</option>
						</select>
					</li>
				</ul>
			</fieldset>
		</li>

		<li id="dvaf1-dfn-aggrieved">{{> dfnAggrieved}}</li>

		<li id="dvaf1-aggrieved-danger-question">
			<fieldset>
				<legend>
					<span class="label">Are you in danger right now?</span>
					<small class="hint">If someone could hurt you while you're completing this form you should call the police. Police can help you right now and apply for a protection order for you.</small>
				</legend>
				<ul class="choices">
					<li>
						<input type="radio" name="userDanger" value="Yes" id="applicant-danger-yes"{{#if selected.userDanger.Yes}} checked{{/if}}>
						<label for="applicant-danger-yes">Yes</label>—call <a href="tel:000">000</a> and ask for police
					</li>
					<li>
						<input type="radio" name="userDanger" value="Maybe" id="applicant-danger-dunno"{{#if selected.userDanger.Maybe}} checked{{/if}}>
						<label for="applicant-danger-dunno">I don't know</label>—contact DVConnect
					</li>
					<li>
						<input type="radio" name="userDanger" value="No" id="applicant-danger-no"{{#if selected.userDanger.No}} checked{{/if}}>
						<label for="applicant-danger-no">It's safe for me to fill out this form</label> (I know it could take 1 hour or longer)
					</li>
				</ul>
			</fieldset>
		</li>

		<li id="dvaf1-info-aggrieved-danger">{{> infoAggrievedDanger}}</li>

		<li id="dvaf1-aggrieved-privacy-question">
			<fieldset>
				<legend>
					<span class="label">Is your web use private?</span>
					<small class="hint">Someone you know may be able to tell you visited this web page.</small>
				</legend>
				<ul class="choices">
					<li>
						<input type="radio" name="userPrivacy" value="No" id="interview-is-safe-no"{{#if selected.userPrivacy.No}} checked{{/if}}>
						<label for="interview-is-safe-no">No—someone I know could spy on my web use</label>
					</li>
					<li>
						<input type="radio" name="userPrivacy" value="Not sure" id="interview-is-safe-not-sure"{{#if selected.userPrivacy.Notsure}} checked{{/if}}>
						<label for="interview-is-safe-not-sure">Not sure</label>
					</li>
					<li>
						<input type="radio" name="userPrivacy" value="Yes" id="interview-is-safe-yes"{{#if selected.userPrivacy.Yes}} checked{{/if}}>
						<label for="interview-is-safe-yes">Yes—this computer is safe to use</label>
					</li>
				</ul>
			</fieldset>
		</li>

		<li id="dvaf1-info-aggrieved-privacy">{{> infoAggrievedPrivacy}}</li>

		<li>
			<label>Does the aggrieved already have a protection order?</label>
		</li>

		<li>
			<ul class="actions">
				<li><strong><button>Continue</button></strong></li>
			</ul>
		</li>
	</ol>
</form>
