<section>
	<h2>Before you begin</h2>
	<ul>
		<li>This online form can take an hour or more to complete. You can apply yourself. You can also ask a friend or lawyer to apply on your behalf. In some situations, the police may apply for you.</li>
		<li>You may find answering these questions difficult because we will ask questions about your situation—what happened and when—what protection you need.</li>
		<li>At the end of this guide you will have the necessary forms  (possibly 2 or 3) to take to court.</li>
		<li>Once you lodge the forms at court, the person you are wanting protection from will get a copy of your application.</li>
	</ul>

	<section>
		<h3>Going to court</h3>
		<ul>
			<li>You need to lodge the forms and all attachments at a magistrates court. You can do this yourself, or you can ask a friend or family member to do so on your behalf.</li>
			<li>You will be given a date to appear in court (usually in about 4 weeks time).</li>
			<li>Your court date can be sooner if you also ask for an urgent temporary protection order. You have to explain why you need this.</li>
			<li>The respondent will be given a copy of the application which includes a notice to appear in court at the same time.</li>
		</ul>
	</section>

	<form class="form" name="formPreamble" ng-submit="interview.completePreamble()">
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">Do you need legal advice?</span>
						<small class="hint">You may wish to get legal advice before or after preparing your forms to get a protection order.</small>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" name="legalAdvice" value="how" id="legal-advice-how" {{#if legalAdvice_how}}checked{{/if}}>
							<label for="legal-advice-how">How do I get legal advice?</label>
						</li>
						<li>
							<input type="radio" name="legalAdvice" value="later" id="legal-advice-later">
							<label for="legal-advice-later">Continue to prepare an application for a protection order</label>
							<small class="hint">You can talk to a lawyer about your application before or after you lodge it with the court</small>
						</li>
						<li>
							<input type="radio" name="legalAdvice" value="done" id="legal-advice-yes">
							<label for="legal-advice-yes">I've already talked to a lawyer</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li>
				<ul class="actions">
					<li><strong><button>Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>

	{{#if legalAdvice_how}}
	<section id="dvaf1-legal-advice" class="status info">
		<h3>How can I get legal advice?</h3>
		<p>You can get legal advice from:</p>
		<ul>
			<li>Legal Aid Queensland – call <a href="tel:1300-65-11-88">1300 65 11 88</a> for free legal advice</li>
			<li>a community legal centre – go to <a href="http://www.qails.org.au">www.qails.org.au</a> or <a href="http://www.legalaid.qld.gov.au">www.legalaid.qld.gov.au</a> or call <a href="tel:1300-65-11-88">1300 65 11 88</a> to check services in your area</li>
			<li>a private solicitor – call the Queensland Law Society or visit <a href="http://www.qls.com.au">www.qls.com.au</a> for names of solicitors who can help.</li>
			<li>In some areas there are programs to help people apply for a domestic violence order — these include domestic violence prevention programs, application assistance programs or domestic violence services. You can ask at the magistrates court about these programs.</li>
		</ul>
	</section>
	{{/if}}
</section>
